img {
    width: 60%;
    border-style: groove;
}

.fundo1 {
    background-color: rgb(204, 207, 17);
    text-align: center;
}

.fundo2 {
    background-color: rgb(51, 255, 0);
    text-align: center;
}

.fundo3 {
    background-color: crimson;
    text-align: center;
}

.fundo4 {
    background-color: cadetblue;
    text-align: center;
}

.fundo5 {
    background-color: rgb(196, 181, 49);
    text-align: center;
}

.texto1 {
    justify-content: center;
    border-style: double;
    border-width: 5px;
    border-color:#80E7AB;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    background-color:#80E7AB;
}

.texto2 {
    border-style: double;
    border-width: 5px;
    border-color: #FDFD22;
    justify-content: center;
    border-color: #FDFD22 ;
    text-align: center;
    margin-left: 40%;
    margin-right: 40%;
    background-color: #FDFD22;
}

.texto3 {
    border-style: double;
    border-width: 5px;
    border-color: brown;
    text-align: center;
    background-color: brown;
        margin-left: 40%;
    margin-right: 40%;
    font-size: xx-large;
}

.texto4 {
    border-style: double;
    border-width: 5px;
    border-color: red;
    text-align: center;
        margin-left: 40%;
    margin-right: 40%;
    background-color: red;
    
}


.texto5 {
    border-style: double;
    border-width: 5px;
    border-color: rgb(57, 57, 240);
    text-align: center;
    background-color: rgb(59, 59, 238);
        margin-left: 40%;
    margin-right: 40%;
}

.p2 {
    font-size: large;
    text-align: center;

}

.p3 {
    font-size: large;
    text-align: center;
}

.Emanuel {
    font-size: large;
    text-align: center;
}

.p5 {
    font-size: large;
    text-align: center;
}

h2 {
    border-style: dotted;
}
h3 {
    border-style: ridge;
    margin-left: 40%;
    margin-right: 40%;
}